<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Extrato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class='list-extrato'>
    <ion-list>


      <ion-item *ngFor='let item of extrato'>
        <ion-row style=" width: 100%; height: 100%;"
          [ngClass]="{teste1: item.tipo == 'entrada',teste2: item.tipo == 'saida'}">
          <ion-col style=" width: 100%; height: 100%;">{{converteData(item.data)}}</ion-col>
          <ion-col style=" width: 100%; height: 100%;">{{item.titulo}}</ion-col>
          <ion-col style=" width: 100%; height: 100%;"> R${{item.valor}}</ion-col>
        </ion-row>

      </ion-item>

    </ion-list>
  </div>
</ion-content>
