<!-- Cabeçalho da página 1 ----------------------------------------------------------------------------------------->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-row>
    <ion-col>
      <div class="detalhes">
        <h2 class="teste">Casher</h2>
      </div>
    </ion-col>
  </ion-row>

  <!--Card do Saldo Atual ------------------------------------------------------------------------------------------>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <div [ngClass]="{blur0: blur == 'focado', blur1: blur == 'desfocado'}">
          <h2 style="font-size: 200%; font-family: 'Nunito', sans-serif;">R$ {{saldoExibido}}</h2>
        </div>
        <ion-icon name="eye-off-outline" #Icone (click)=changeFocus()></ion-icon>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- Botão Entrada --------------------------------------------------------------------------------------------->

  <ion-row class="ion-justify-content-center">

    <ion-col>
      <div class="twobuttons">
        <ion-button class="fluxobutton" expand="undefined" id="open-modal-entrada">Nova Entrada</ion-button>
      </div>
    </ion-col>

    <!-- Modal entrada ----------------------------------------------------------------------------------------------->
    <ion-modal trigger="open-modal-entrada" (willDismiss)="onWillDismiss($event)">
      <ng-template>

        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start" style="position: absolute">
              <ion-button (click)="cancel(0)">
                <ion-icon name="return-up-back-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>Entrada</ion-title>

          </ion-toolbar>
        </ion-header>


        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">Data</ion-label>
            <ion-input type="date" [(ngModel)]="entrada.data"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Valor</ion-label>
            <ion-input type="number" placeholder="Valor" [(ngModel)]="entrada.valor"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Detalhes</ion-label>
            <ion-input type="text" placeholder="Detalhes" [(ngModel)]="entrada.detalhes"></ion-input>
          </ion-item>

          <ion-list>
            <ion-item>
              <ion-label position="stacked">Titulo</ion-label>
              <ion-select interface="popover" placeholder="Escolha os Titulos" [(ngModel)]="entrada.titulo">
                <ion-select-option *ngFor="let titulo of titulos_entrada" value="{{titulo}}">{{titulo}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>


          <ion-button (click)="confirmEntrada(0)" [strong]="true">Confirm</ion-button>


        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Botão Saída ----------------------------------------------------------------------------------------------->
    <ion-col>
      <div class="twobuttons">
        <ion-button style="--background:'#eb400cc9'" class="fluxobutton" expand="undefined" id="open-modal-saida">Nova
          Saída</ion-button>
      </div>
    </ion-col>

    <!-- Modal saida ----------------------------------------------------------------------------------------------->
    <ion-modal trigger="open-modal-saida" (willDismiss)="onWillDismiss($event)">
      <ng-template>

        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start" style="position: absolute">
              <ion-button (click)="cancel(1)">
                <ion-icon name="return-up-back-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>Welcome</ion-title>

          </ion-toolbar>
        </ion-header>


        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">Data</ion-label>
            <ion-input class="input" type="date" placeholder="Data" [(ngModel)]="saida.data"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Valor</ion-label>
            <ion-input type="number" placeholder="Digite o Valor" [(ngModel)]="saida.valor"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Detalhes</ion-label>
            <ion-input type="text" placeholder="Digite os Detalhes" [(ngModel)]="saida.detalhes"></ion-input>
          </ion-item>

          <ion-list>
            <ion-item>
              <ion-label position="stacked">Titulo</ion-label>
              <ion-select interface="popover" placeholder="Escolha o Titulo" [(ngModel)]="saida.titulo">
                <ion-select-option *ngFor="let titulo of titulos_saida" value="{{titulo}}">{{titulo}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>


          <ion-button (click)="confirmSaida(1)" [strong]="true">Confirm</ion-button>


        </ion-content>
      </ng-template>
    </ion-modal>

  </ion-row>

  <!-- Botão Fechar mês ----------------------------------------------------------------------------------------------->
  <ion-row class="ion-justify-content-center" style="padding-top: 20%;">
    <div class="onebutton">
      <ion-button expand="block" (click)="teste()">Fechar mês</ion-button>
    </div>
  </ion-row>


</ion-content>
