/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-content {
    
    --background: #1f221ec9;
}

ion-tab-bar {
     
    --color-selected: #52ee22c9; 
}

ion-toolbar {
    --color: #122221;
    --background: #52ee22c9;    
}

ion-icon {
    padding-top: 10px;
    font-size: 200%;
}

ion-title{
    text-align: center;
}

ion-button{
    padding: 0px;
    width: 100%;  
        --color: #122221;
    --background: #52ee22c9;
}

.detalhes{
    padding-left: 10px;
}

.twobuttons{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%; 
}

.onebutton{
    padding-left: 5%;
    padding-right: 5%;
    width: 100%; 
 }